In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

import warnings
warnings.filterwarnings("ignore")

In [3]:
train_df = pd.read_csv('train.csv')
train_df.head(10)

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0,15674932,Okwudilichukwu,668,France,Male,33.0,3,0.00,2,1.0,0.0,181449.97,0
1,1,15749177,Okwudiliolisa,627,France,Male,33.0,1,0.00,2,1.0,1.0,49503.50,0
2,2,15694510,Hsueh,678,France,Male,40.0,10,0.00,2,1.0,0.0,184866.69,0
3,3,15741417,Kao,581,France,Male,34.0,2,148882.54,1,1.0,1.0,84560.88,0
4,4,15766172,Chiemenam,716,Spain,Male,33.0,5,0.00,2,1.0,1.0,15068.83,0
5,5,15771669,Genovese,588,Germany,Male,36.0,4,131778.58,1,1.0,0.0,136024.31,1
6,6,15692819,Ch'ang,593,France,Female,30.0,8,144772.69,1,1.0,0.0,29792.11,0
7,7,15669611,Chukwuebuka,678,Spain,Male,37.0,1,138476.41,1,1.0,0.0,106851.60,0
8,8,15691707,Manna,676,France,Male,43.0,4,0.00,2,1.0,0.0,142917.13,0
9,9,15591721,Cattaneo,583,Germany,Male,40.0,4,81274.33,1,1.0,1.0,170843.07,0

In [3]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165034 entries, 0 to 165033
Data columns (total 14 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               165034 non-null  int64
 1   CustomerId       165034 non-null  int64
 2   Surname          165034 non-null  object
 3   CreditScore      165034 non-null  int64
 4   Geography        165034 non-null  object
 5   Gender           165034 non-null  object
 6   Age              165034 non-null  float64
 7   Tenure           165034 non-null  int64
 8   Balance          165034 non-null  float64
 9   NumOfProducts    165034 non-null  int64
 10  HasCrCard        165034 non-null  float64
 11  IsActiveMember   165034 non-null  float64
 12  EstimatedSalary  165034 non-null  float64
 13  Exited           165034 non-null  int64
dtypes: float64(5), int64(6), object(3)
memory usage: 17.6+ MB

In [4]:
target = train_df["Exited"]
train_df = train_df.drop(['Exited', 'CustomerId', 'Surname', 'id'], axis=1)
train_df.head(10)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,668,France,Male,33.0,3,0.00,2,1.0,0.0,181449.97
1,627,France,Male,33.0,1,0.00,2,1.0,1.0,49503.50
2,678,France,Male,40.0,10,0.00,2,1.0,0.0,184866.69
3,581,France,Male,34.0,2,148882.54,1,1.0,1.0,84560.88
4,716,Spain,Male,33.0,5,0.00,2,1.0,1.0,15068.83
5,588,Germany,Male,36.0,4,131778.58,1,1.0,0.0,136024.31
6,593,France,Female,30.0,8,144772.69,1,1.0,0.0,29792.11
7,678,Spain,Male,37.0,1,138476.41,1,1.0,0.0,106851.60
8,676,France,Male,43.0,4,0.00,2,1.0,0.0,142917.13
9,583,Germany,Male,40.0,4,81274.33,1,1.0,1.0,170843.07

In [5]:
categorical_fearures = [feature for feature in train_df.columns if train_df[feature].dtype == 'object']
print(categorical_fearures)
oh = LabelEncoder()
for i in categorical_fearures:
    train_df[i] = oh.fit_transform(train_df[i])

['Geography', 'Gender']

In [6]:
train_df.head(10)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,668,0,1,33.0,3,0.00,2,1.0,0.0,181449.97
1,627,0,1,33.0,1,0.00,2,1.0,1.0,49503.50
2,678,0,1,40.0,10,0.00,2,1.0,0.0,184866.69
3,581,0,1,34.0,2,148882.54,1,1.0,1.0,84560.88
4,716,2,1,33.0,5,0.00,2,1.0,1.0,15068.83
5,588,1,1,36.0,4,131778.58,1,1.0,0.0,136024.31
6,593,0,0,30.0,8,144772.69,1,1.0,0.0,29792.11
7,678,2,1,37.0,1,138476.41,1,1.0,0.0,106851.60
8,676,0,1,43.0,4,0.00,2,1.0,0.0,142917.13
9,583,1,1,40.0,4,81274.33,1,1.0,1.0,170843.07

In [7]:
x_train, x_test, y_train, y_test = train_test_split(train_df, target, test_size=0.2, random_state=42)

x_train = StandardScaler().fit_transform(x_train)
x_test = StandardScaler().fit_transform(x_test)
# y_train = StandardScaler().fit_transform(y_train)

In [8]:
import keras
from keras.models import Sequential
from keras.layers import Dense, LeakyReLU, PReLU, ELU, Dropout

layer = Sequential()
layer.add(Dense(
    units=6,                          # Number of neurons in this dense layer.
    kernel_initializer='he_uniform',  # Initialization method for the weights, 'he_uniform' is good for ReLU activation to avoid vanishing gradients.
    activation='relu',                # Activation function for the layer, ReLU introduces non-linearity and helps with learning complex patterns.
    input_dim=10                       # The number of features in the input data, used only in the first layer to define the input shape.
))

layer.add(Dense(units=6, kernel_initializer='he_uniform', activation='relu'))
layer.add(Dense(units=1, kernel_initializer='glorot_uniform', activation='sigmoid'))
layer.compile(optimizer='Adamax', loss='binary_crossentropy', metrics=['accuracy'])   # prefer using binary_crossentropy for problems with output 0 or 1 and categorical_crossentropy for multiple classes.

model = layer.fit(x_train, y_train, validation_split=0.33, batch_size=10, epochs=100)

Epoch 1/100
8846/8846 [==============================] - 13s 1ms/step - loss: 0.4451 - accuracy: 0.8049 - val_loss: 0.3854 - val_accuracy: 0.8371
Epoch 2/100
8846/8846 [==============================] - 12s 1ms/step - loss: 0.3718 - accuracy: 0.8411 - val_loss: 0.3571 - val_accuracy: 0.8473
Epoch 3/100
8846/8846 [==============================] - 12s 1ms/step - loss: 0.3498 - accuracy: 0.8497 - val_loss: 0.3429 - val_accuracy: 0.8539
Epoch 4/100
8846/8846 [==============================] - 12s 1ms/step - loss: 0.3404 - accuracy: 0.8542 - val_loss: 0.3379 - val_accuracy: 0.8572
Epoch 5/100
8846/8846 [==============================] - 12s 1ms/step - loss: 0.3363 - accuracy: 0.8572 - val_loss: 0.3350 - val_accuracy: 0.8583
Epoch 6/100
8846/8846 [==============================] - 12s 1ms/step - loss: 0.3342 - accuracy: 0.8580 - val_loss: 0.3332 - val_accuracy: 0.8604
Epoch 7/100
8846/8846 [==============================] - 12s 1ms/step - loss: 0.3328 - accuracy: 0.8603 - val_loss: 0.3319 - val_accuracy: 0.8625
Epoch 8/100
8846/8846 [==============================] - 11s 1ms/step - loss: 0.3317 - accuracy: 0.8606 - val_loss: 0.3308 - val_accuracy: 0.8627
Epoch 9/100
8846/8846 [==============================] - 12s 1ms/step - loss: 0.3310 - accuracy: 0.8615 - val_loss: 0.3306 - val_accuracy: 0.8633
Epoch 10/100
8846/8846 [==============================] - 12s 1ms/step - loss: 0.3305 - accuracy: 0.8614 - val_loss: 0.3308 - val_accuracy: 0.8632
Epoch 11/100
8846/8846 [==============================] - 12s 1ms/step - loss: 0.3301 - accuracy: 0.8616 - val_loss: 0.3298 - val_accuracy: 0.8642
Epoch 12/100
8846/8846 [==============================] - 12s 1ms/step - loss: 0.3298 - accuracy: 0.8621 - val_loss: 0.3293 - val_accuracy: 0.8638
Epoch 13/100
8846/8846 [==============================] - 11s 1ms/step - loss: 0.3296 - accuracy: 0.8621 - val_loss: 0.3295 - val_accuracy: 0.8636
Epoch 14/100
8846/8846 [==============================] - 12s 1ms/step - loss: 0.3295 - accuracy: 0.8628 - val_loss: 0.3298 - val_accuracy: 0.8632
Epoch 15/100
8846/8846 [==============================] - 12s 1ms/step - loss: 0.3292 - accuracy: 0.8622 - val_loss: 0.3292 - val_accuracy: 0.8635
Epoch 16/100
8846/8846 [==============================] - 12s 1ms/step - loss: 0.3291 - accuracy: 0.8630 - val_loss: 0.3291 - val_accuracy: 0.8631
Epoch 17/100
8846/8846 [==============================] - 12s 1ms/step - loss: 0.3289 - accuracy: 0.8628 - val_loss: 0.3296 - val_accuracy: 0.8634
Epoch 18/100
8846/8846 [==============================] - 13s 2ms/step - loss: 0.3289 - accuracy: 0.8625 - val_loss: 0.3300 - val_accuracy: 0.8627
Epoch 19/100
8846/8846 [==============================] - 14s 2ms/step - loss: 0.3288 - accuracy: 0.8626 - val_loss: 0.3285 - val_accuracy: 0.8635
Epoch 20/100
8846/8846 [==============================] - 12s 1ms/step - loss: 0.3287 - accuracy: 0.8624 - val_loss: 0.3287 - val_accuracy: 0.8641
Epoch 21/100
8846/8846 [==============================] - 13s 1ms/step - loss: 0.3286 - accuracy: 0.8628 - val_loss: 0.3285 - val_accuracy: 0.8644
Epoch 22/100
8846/8846 [==============================] - 12s 1ms/step - loss: 0.3284 - accuracy: 0.8626 - val_loss: 0.3290 - val_accuracy: 0.8635
Epoch 23/100
8846/8846 [==============================] - 14s 2ms/step - loss: 0.3284 - accuracy: 0.8626 - val_loss: 0.3283 - val_accuracy: 0.8635
Epoch 24/100
8846/8846 [==============================] - 15s 2ms/step - loss: 0.3283 - accuracy: 0.8620 - val_loss: 0.3282 - val_accuracy: 0.8643
Epoch 25/100
8846/8846 [==============================] - 13s 1ms/step - loss: 0.3282 - accuracy: 0.8626 - val_loss: 0.3281 - val_accuracy: 0.8636
Epoch 26/100
8846/8846 [==============================] - 12s 1ms/step - loss: 0.3282 - accuracy: 0.8629 - val_loss: 0.3278 - val_accuracy: 0.8641
Epoch 27/100
8846/8846 [==============================] - 12s 1ms/step - loss: 0.3281 - accuracy: 0.8626 - val_loss: 0.3278 - val_accuracy: 0.8644
Epoch 28/100
8846/8846 [==============================] - 12s 1ms/step - loss: 0.3279 - accuracy: 0.8630 - val_loss: 0.3281 - val_accuracy: 0.8638
Epoch 29/100
8846/8846 [==============================] - 15s 2ms/step - loss: 0.3278 - accuracy: 0.8628 - val_loss: 0.3276 - val_accuracy: 0.8640
Epoch 30/100
8846/8846 [==============================] - 12s 1ms/step - loss: 0.3277 - accuracy: 0.8629 - val_loss: 0.3278 - val_accuracy: 0.8644
Epoch 31/100
8846/8846 [==============================] - 15s 2ms/step - loss: 0.3275 - accuracy: 0.8628 - val_loss: 0.3281 - val_accuracy: 0.8643
Epoch 32/100
8846/8846 [==============================] - 15s 2ms/step - loss: 0.3274 - accuracy: 0.8632 - val_loss: 0.3276 - val_accuracy: 0.8643
Epoch 33/100
8846/8846 [==============================] - 15s 2ms/step - loss: 0.3273 - accuracy: 0.8630 - val_loss: 0.3279 - val_accuracy: 0.8635
Epoch 34/100
8846/8846 [==============================] - 15s 2ms/step - loss: 0.3271 - accuracy: 0.8631 - val_loss: 0.3276 - val_accuracy: 0.8637
Epoch 35/100
8846/8846 [==============================] - 12s 1ms/step - loss: 0.3270 - accuracy: 0.8636 - val_loss: 0.3270 - val_accuracy: 0.8636
Epoch 36/100
8846/8846 [==============================] - 13s 1ms/step - loss: 0.3270 - accuracy: 0.8630 - val_loss: 0.3271 - val_accuracy: 0.8640
Epoch 37/100
8846/8846 [==============================] - 15s 2ms/step - loss: 0.3269 - accuracy: 0.8634 - val_loss: 0.3267 - val_accuracy: 0.8644
Epoch 38/100
8846/8846 [==============================] - 15s 2ms/step - loss: 0.3269 - accuracy: 0.8632 - val_loss: 0.3268 - val_accuracy: 0.8640
Epoch 39/100
8846/8846 [==============================] - 15s 2ms/step - loss: 0.3266 - accuracy: 0.8633 - val_loss: 0.3269 - val_accuracy: 0.8636
Epoch 40/100
8846/8846 [==============================] - 12s 1ms/step - loss: 0.3267 - accuracy: 0.8632 - val_loss: 0.3270 - val_accuracy: 0.8642
Epoch 41/100
8846/8846 [==============================] - 12s 1ms/step - loss: 0.3268 - accuracy: 0.8633 - val_loss: 0.3268 - val_accuracy: 0.8637
Epoch 42/100
8846/8846 [==============================] - 12s 1ms/step - loss: 0.3266 - accuracy: 0.8635 - val_loss: 0.3269 - val_accuracy: 0.8637
Epoch 43/100
8846/8846 [==============================] - 12s 1ms/step - loss: 0.3266 - accuracy: 0.8633 - val_loss: 0.3267 - val_accuracy: 0.8638
Epoch 44/100
8846/8846 [==============================] - 21s 2ms/step - loss: 0.3265 - accuracy: 0.8634 - val_loss: 0.3274 - val_accuracy: 0.8641
Epoch 45/100
8846/8846 [==============================] - 15s 2ms/step - loss: 0.3266 - accuracy: 0.8633 - val_loss: 0.3268 - val_accuracy: 0.8642
Epoch 46/100
8846/8846 [==============================] - 13s 1ms/step - loss: 0.3265 - accuracy: 0.8635 - val_loss: 0.3265 - val_accuracy: 0.8635
Epoch 47/100
8846/8846 [==============================] - 12s 1ms/step - loss: 0.3266 - accuracy: 0.8634 - val_loss: 0.3267 - val_accuracy: 0.8643
Epoch 48/100
8846/8846 [==============================] - 12s 1ms/step - loss: 0.3265 - accuracy: 0.8636 - val_loss: 0.3270 - val_accuracy: 0.8641
Epoch 49/100
8846/8846 [==============================] - 12s 1ms/step - loss: 0.3264 - accuracy: 0.8635 - val_loss: 0.3270 - val_accuracy: 0.8645
Epoch 50/100
8846/8846 [==============================] - 12s 1ms/step - loss: 0.3265 - accuracy: 0.8632 - val_loss: 0.3267 - val_accuracy: 0.8646
Epoch 51/100
8846/8846 [==============================] - 12s 1ms/step - loss: 0.3263 - accuracy: 0.8632 - val_loss: 0.3264 - val_accuracy: 0.8640
Epoch 52/100
8846/8846 [==============================] - 12s 1ms/step - loss: 0.3263 - accuracy: 0.8634 - val_loss: 0.3269 - val_accuracy: 0.8642
Epoch 53/100
8846/8846 [==============================] - 12s 1ms/step - loss: 0.3264 - accuracy: 0.8634 - val_loss: 0.3264 - val_accuracy: 0.8643
Epoch 54/100
8846/8846 [==============================] - 12s 1ms/step - loss: 0.3264 - accuracy: 0.8635 - val_loss: 0.3265 - val_accuracy: 0.8644
Epoch 55/100
8846/8846 [==============================] - 12s 1ms/step - loss: 0.3263 - accuracy: 0.8640 - val_loss: 0.3267 - val_accuracy: 0.8647
Epoch 56/100
8846/8846 [==============================] - 12s 1ms/step - loss: 0.3263 - accuracy: 0.8632 - val_loss: 0.3266 - val_accuracy: 0.8636
Epoch 57/100
8846/8846 [==============================] - 12s 1ms/step - loss: 0.3263 - accuracy: 0.8632 - val_loss: 0.3267 - val_accuracy: 0.8646
Epoch 58/100
8846/8846 [==============================] - 12s 1ms/step - loss: 0.3263 - accuracy: 0.8635 - val_loss: 0.3267 - val_accuracy: 0.8644
Epoch 59/100
8846/8846 [==============================] - 22s 2ms/step - loss: 0.3262 - accuracy: 0.8629 - val_loss: 0.3268 - val_accuracy: 0.8640
Epoch 60/100
8846/8846 [==============================] - 15s 2ms/step - loss: 0.3262 - accuracy: 0.8637 - val_loss: 0.3262 - val_accuracy: 0.8642
Epoch 61/100
8846/8846 [==============================] - 13s 2ms/step - loss: 0.3263 - accuracy: 0.8634 - val_loss: 0.3265 - val_accuracy: 0.8640
Epoch 62/100
8846/8846 [==============================] - 14s 2ms/step - loss: 0.3262 - accuracy: 0.8634 - val_loss: 0.3265 - val_accuracy: 0.8642
Epoch 63/100
8846/8846 [==============================] - 12s 1ms/step - loss: 0.3263 - accuracy: 0.8634 - val_loss: 0.3266 - val_accuracy: 0.8639
Epoch 64/100
8846/8846 [==============================] - 12s 1ms/step - loss: 0.3262 - accuracy: 0.8635 - val_loss: 0.3265 - val_accuracy: 0.8642
Epoch 65/100
8846/8846 [==============================] - 12s 1ms/step - loss: 0.3263 - accuracy: 0.8634 - val_loss: 0.3265 - val_accuracy: 0.8638
Epoch 66/100
8846/8846 [==============================] - 12s 1ms/step - loss: 0.3261 - accuracy: 0.8635 - val_loss: 0.3271 - val_accuracy: 0.8640
Epoch 67/100
8846/8846 [==============================] - 14s 2ms/step - loss: 0.3262 - accuracy: 0.8633 - val_loss: 0.3264 - val_accuracy: 0.8642
Epoch 68/100
8846/8846 [==============================] - 19s 2ms/step - loss: 0.3261 - accuracy: 0.8631 - val_loss: 0.3267 - val_accuracy: 0.8635
Epoch 69/100
8846/8846 [==============================] - 12s 1ms/step - loss: 0.3261 - accuracy: 0.8630 - val_loss: 0.3268 - val_accuracy: 0.8645
Epoch 70/100
8846/8846 [==============================] - 13s 1ms/step - loss: 0.3261 - accuracy: 0.8642 - val_loss: 0.3264 - val_accuracy: 0.8652
Epoch 71/100
8846/8846 [==============================] - 15s 2ms/step - loss: 0.3261 - accuracy: 0.8633 - val_loss: 0.3264 - val_accuracy: 0.8639
Epoch 72/100
8846/8846 [==============================] - 15s 2ms/step - loss: 0.3261 - accuracy: 0.8636 - val_loss: 0.3265 - val_accuracy: 0.8643
Epoch 73/100
8846/8846 [==============================] - 13s 1ms/step - loss: 0.3261 - accuracy: 0.8634 - val_loss: 0.3266 - val_accuracy: 0.8633
Epoch 74/100
8846/8846 [==============================] - 12s 1ms/step - loss: 0.3261 - accuracy: 0.8636 - val_loss: 0.3266 - val_accuracy: 0.8641
Epoch 75/100
8846/8846 [==============================] - 12s 1ms/step - loss: 0.3261 - accuracy: 0.8636 - val_loss: 0.3265 - val_accuracy: 0.8645
Epoch 76/100
8846/8846 [==============================] - 11s 1ms/step - loss: 0.3261 - accuracy: 0.8641 - val_loss: 0.3264 - val_accuracy: 0.8648
Epoch 77/100
8846/8846 [==============================] - 12s 1ms/step - loss: 0.3260 - accuracy: 0.8636 - val_loss: 0.3264 - val_accuracy: 0.8644
Epoch 78/100
8846/8846 [==============================] - 12s 1ms/step - loss: 0.3261 - accuracy: 0.8640 - val_loss: 0.3265 - val_accuracy: 0.8639
Epoch 79/100
8846/8846 [==============================] - 12s 1ms/step - loss: 0.3261 - accuracy: 0.8632 - val_loss: 0.3278 - val_accuracy: 0.8643
Epoch 80/100
8846/8846 [==============================] - 15s 2ms/step - loss: 0.3262 - accuracy: 0.8630 - val_loss: 0.3263 - val_accuracy: 0.8640
Epoch 81/100
8846/8846 [==============================] - 16s 2ms/step - loss: 0.3260 - accuracy: 0.8631 - val_loss: 0.3263 - val_accuracy: 0.8649
Epoch 82/100
8846/8846 [==============================] - 14s 2ms/step - loss: 0.3261 - accuracy: 0.8631 - val_loss: 0.3267 - val_accuracy: 0.8646
Epoch 83/100
8846/8846 [==============================] - 12s 1ms/step - loss: 0.3260 - accuracy: 0.8640 - val_loss: 0.3262 - val_accuracy: 0.8644
Epoch 84/100
8846/8846 [==============================] - 12s 1ms/step - loss: 0.3260 - accuracy: 0.8636 - val_loss: 0.3264 - val_accuracy: 0.8642
Epoch 85/100
8846/8846 [==============================] - 12s 1ms/step - loss: 0.3260 - accuracy: 0.8634 - val_loss: 0.3261 - val_accuracy: 0.8645
Epoch 86/100
8846/8846 [==============================] - 12s 1ms/step - loss: 0.3260 - accuracy: 0.8637 - val_loss: 0.3266 - val_accuracy: 0.8640
Epoch 87/100
8846/8846 [==============================] - 12s 1ms/step - loss: 0.3261 - accuracy: 0.8631 - val_loss: 0.3261 - val_accuracy: 0.8648
Epoch 88/100
8846/8846 [==============================] - 12s 1ms/step - loss: 0.3260 - accuracy: 0.8640 - val_loss: 0.3262 - val_accuracy: 0.8644
Epoch 89/100
8846/8846 [==============================] - 14s 2ms/step - loss: 0.3260 - accuracy: 0.8637 - val_loss: 0.3265 - val_accuracy: 0.8645
Epoch 90/100
8846/8846 [==============================] - 16s 2ms/step - loss: 0.3259 - accuracy: 0.8639 - val_loss: 0.3262 - val_accuracy: 0.8647
Epoch 91/100
8846/8846 [==============================] - 16s 2ms/step - loss: 0.3261 - accuracy: 0.8633 - val_loss: 0.3261 - val_accuracy: 0.8645
Epoch 92/100
8846/8846 [==============================] - 16s 2ms/step - loss: 0.3260 - accuracy: 0.8629 - val_loss: 0.3264 - val_accuracy: 0.8637
Epoch 93/100
8846/8846 [==============================] - 16s 2ms/step - loss: 0.3260 - accuracy: 0.8640 - val_loss: 0.3263 - val_accuracy: 0.8643
Epoch 94/100
8846/8846 [==============================] - 16s 2ms/step - loss: 0.3260 - accuracy: 0.8634 - val_loss: 0.3262 - val_accuracy: 0.8651
Epoch 95/100
8846/8846 [==============================] - 16s 2ms/step - loss: 0.3260 - accuracy: 0.8635 - val_loss: 0.3261 - val_accuracy: 0.8643
Epoch 96/100
8846/8846 [==============================] - 16s 2ms/step - loss: 0.3259 - accuracy: 0.8631 - val_loss: 0.3259 - val_accuracy: 0.8649
Epoch 97/100
8846/8846 [==============================] - 16s 2ms/step - loss: 0.3260 - accuracy: 0.8639 - val_loss: 0.3263 - val_accuracy: 0.8644
Epoch 98/100
8846/8846 [==============================] - 16s 2ms/step - loss: 0.3260 - accuracy: 0.8630 - val_loss: 0.3263 - val_accuracy: 0.8649
Epoch 99/100
8846/8846 [==============================] - 16s 2ms/step - loss: 0.3260 - accuracy: 0.8634 - val_loss: 0.3268 - val_accuracy: 0.8641
Epoch 100/100
8846/8846 [==============================] - 16s 2ms/step - loss: 0.3259 - accuracy: 0.8639 - val_loss: 0.3262 - val_accuracy: 0.8650

In [10]:
from sklearn.metrics import accuracy_score
y_pred = layer.predict(x_test)
y_pred = (y_pred > 0.5)
accuracy = accuracy_score(y_test, y_pred)
print(accuracy)

1032/1032 [==============================] - 1s 730us/step
0.8653012997243009