In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

import warnings
warnings.filterwarnings("ignore")

In [ ]:
train_df = pd.read_csv('ANN_train.csv')
train_df.head(10)

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0,15674932,Okwudilichukwu,668,France,Male,33.0,3,0.00,2,1.0,0.0,181449.97,0
1,1,15749177,Okwudiliolisa,627,France,Male,33.0,1,0.00,2,1.0,1.0,49503.50,0
2,2,15694510,Hsueh,678,France,Male,40.0,10,0.00,2,1.0,0.0,184866.69,0
3,3,15741417,Kao,581,France,Male,34.0,2,148882.54,1,1.0,1.0,84560.88,0
4,4,15766172,Chiemenam,716,Spain,Male,33.0,5,0.00,2,1.0,1.0,15068.83,0
5,5,15771669,Genovese,588,Germany,Male,36.0,4,131778.58,1,1.0,0.0,136024.31,1
6,6,15692819,Ch'ang,593,France,Female,30.0,8,144772.69,1,1.0,0.0,29792.11,0
7,7,15669611,Chukwuebuka,678,Spain,Male,37.0,1,138476.41,1,1.0,0.0,106851.60,0
8,8,15691707,Manna,676,France,Male,43.0,4,0.00,2,1.0,0.0,142917.13,0
9,9,15591721,Cattaneo,583,Germany,Male,40.0,4,81274.33,1,1.0,1.0,170843.07,0

In [3]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165034 entries, 0 to 165033
Data columns (total 14 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               165034 non-null  int64
 1   CustomerId       165034 non-null  int64
 2   Surname          165034 non-null  object
 3   CreditScore      165034 non-null  int64
 4   Geography        165034 non-null  object
 5   Gender           165034 non-null  object
 6   Age              165034 non-null  float64
 7   Tenure           165034 non-null  int64
 8   Balance          165034 non-null  float64
 9   NumOfProducts    165034 non-null  int64
 10  HasCrCard        165034 non-null  float64
 11  IsActiveMember   165034 non-null  float64
 12  EstimatedSalary  165034 non-null  float64
 13  Exited           165034 non-null  int64
dtypes: float64(5), int64(6), object(3)
memory usage: 17.6+ MB

In [4]:
target = train_df["Exited"]
train_df = train_df.drop(['Exited', 'CustomerId', 'Surname', 'id'], axis=1)
train_df.head(10)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,668,France,Male,33.0,3,0.00,2,1.0,0.0,181449.97
1,627,France,Male,33.0,1,0.00,2,1.0,1.0,49503.50
2,678,France,Male,40.0,10,0.00,2,1.0,0.0,184866.69
3,581,France,Male,34.0,2,148882.54,1,1.0,1.0,84560.88
4,716,Spain,Male,33.0,5,0.00,2,1.0,1.0,15068.83
5,588,Germany,Male,36.0,4,131778.58,1,1.0,0.0,136024.31
6,593,France,Female,30.0,8,144772.69,1,1.0,0.0,29792.11
7,678,Spain,Male,37.0,1,138476.41,1,1.0,0.0,106851.60
8,676,France,Male,43.0,4,0.00,2,1.0,0.0,142917.13
9,583,Germany,Male,40.0,4,81274.33,1,1.0,1.0,170843.07

In [5]:
categorical_fearures = [feature for feature in train_df.columns if train_df[feature].dtype == 'object']
print(categorical_fearures)
oh = LabelEncoder()
for i in categorical_fearures:
    train_df[i] = oh.fit_transform(train_df[i])

['Geography', 'Gender']

In [6]:
train_df.head(10)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,668,0,1,33.0,3,0.00,2,1.0,0.0,181449.97
1,627,0,1,33.0,1,0.00,2,1.0,1.0,49503.50
2,678,0,1,40.0,10,0.00,2,1.0,0.0,184866.69
3,581,0,1,34.0,2,148882.54,1,1.0,1.0,84560.88
4,716,2,1,33.0,5,0.00,2,1.0,1.0,15068.83
5,588,1,1,36.0,4,131778.58,1,1.0,0.0,136024.31
6,593,0,0,30.0,8,144772.69,1,1.0,0.0,29792.11
7,678,2,1,37.0,1,138476.41,1,1.0,0.0,106851.60
8,676,0,1,43.0,4,0.00,2,1.0,0.0,142917.13
9,583,1,1,40.0,4,81274.33,1,1.0,1.0,170843.07

In [7]:
x_train, x_test, y_train, y_test = train_test_split(train_df, target, test_size=0.2, random_state=42)

x_train = StandardScaler().fit_transform(x_train)
x_test = StandardScaler().fit(x_test)
# y_train = StandardScaler().fit_transform(y_train)

In [ ]:
import keras
from keras.models import Sequential
from keras.layers import Dense, LeakyReLU, PReLU, ELU, Dropout
import tensorflow as tf


layer = Sequential()
layer.add(Dense(
    units=6,                          # Number of neurons in this dense layer.
    kernel_initializer='he_uniform',  # Initialization method for the weights, 'he_uniform' is good for ReLU activation to avoid vanishing gradients.
    activation='relu',                # Activation function for the layer, ReLU introduces non-linearity and helps with learning complex patterns.
    input_dim=10                       # The number of features in the input data, used only in the first layer to define the input shape.
))

layer.add(Dense(units=6, kernel_initializer='he_uniform', activation='relu'))
layer.add(Dense(units=1, kernel_initializer='glorot_uniform', activation='sigmoid'))
layer.compile(optimizer='Adamax', loss='binary_crossentropy', metrics=['accuracy'])   # prefer using binary_crossentropy for problems with output 0 or 1 and categorical_crossentropy for multiple classes.

model = layer.fit(x_train, y_train, validation_split=0.33, batch_size=10, epochs=50)

Epoch 1/50
8846/8846 [==============================] - 16s 2ms/step - loss: 0.4520 - accuracy: 0.7975 - val_loss: 0.4153 - val_accuracy: 0.8179
Epoch 2/50
8846/8846 [==============================] - 15s 2ms/step - loss: 0.4086 - accuracy: 0.8227 - val_loss: 0.4034 - val_accuracy: 0.8273
Epoch 3/50
8846/8846 [==============================] - 15s 2ms/step - loss: 0.3982 - accuracy: 0.8303 - val_loss: 0.3936 - val_accuracy: 0.8329
Epoch 4/50
8846/8846 [==============================] - 15s 2ms/step - loss: 0.3898 - accuracy: 0.8352 - val_loss: 0.3858 - val_accuracy: 0.8375
Epoch 5/50
8846/8846 [==============================] - 15s 2ms/step - loss: 0.3838 - accuracy: 0.8376 - val_loss: 0.3811 - val_accuracy: 0.8400
Epoch 6/50
8846/8846 [==============================] - 15s 2ms/step - loss: 0.3795 - accuracy: 0.8403 - val_loss: 0.3771 - val_accuracy: 0.8423
Epoch 7/50
8846/8846 [==============================] - 15s 2ms/step - loss: 0.3752 - accuracy: 0.8426 - val_loss: 0.3723 - val_accuracy: 0.8458
Epoch 8/50
8846/8846 [==============================] - 15s 2ms/step - loss: 0.3698 - accuracy: 0.8453 - val_loss: 0.3660 - val_accuracy: 0.8478
Epoch 9/50
8846/8846 [==============================] - 15s 2ms/step - loss: 0.3623 - accuracy: 0.8484 - val_loss: 0.3578 - val_accuracy: 0.8502
Epoch 10/50
8846/8846 [==============================] - 15s 2ms/step - loss: 0.3524 - accuracy: 0.8507 - val_loss: 0.3473 - val_accuracy: 0.8532
Epoch 11/50
8846/8846 [==============================] - 15s 2ms/step - loss: 0.3419 - accuracy: 0.8564 - val_loss: 0.3376 - val_accuracy: 0.8595
Epoch 12/50
8846/8846 [==============================] - 15s 2ms/step - loss: 0.3352 - accuracy: 0.8604 - val_loss: 0.3335 - val_accuracy: 0.8624
Epoch 13/50
8846/8846 [==============================] - 16s 2ms/step - loss: 0.3321 - accuracy: 0.8616 - val_loss: 0.3311 - val_accuracy: 0.8634
Epoch 14/50
8846/8846 [==============================] - 15s 2ms/step - loss: 0.3305 - accuracy: 0.8622 - val_loss: 0.3295 - val_accuracy: 0.8632
Epoch 15/50
8846/8846 [==============================] - 15s 2ms/step - loss: 0.3293 - accuracy: 0.8627 - val_loss: 0.3284 - val_accuracy: 0.8635
Epoch 16/50
8846/8846 [==============================] - 15s 2ms/step - loss: 0.3286 - accuracy: 0.8628 - val_loss: 0.3279 - val_accuracy: 0.8638
Epoch 17/50
8846/8846 [==============================] - 15s 2ms/step - loss: 0.3280 - accuracy: 0.8630 - val_loss: 0.3276 - val_accuracy: 0.8633
Epoch 18/50
8846/8846 [==============================] - 15s 2ms/step - loss: 0.3276 - accuracy: 0.8628 - val_loss: 0.3271 - val_accuracy: 0.8639
Epoch 19/50
8846/8846 [==============================] - 15s 2ms/step - loss: 0.3271 - accuracy: 0.8634 - val_loss: 0.3271 - val_accuracy: 0.8641
Epoch 20/50
8846/8846 [==============================] - 15s 2ms/step - loss: 0.3270 - accuracy: 0.8634 - val_loss: 0.3267 - val_accuracy: 0.8641
Epoch 21/50
8846/8846 [==============================] - 16s 2ms/step - loss: 0.3266 - accuracy: 0.8633 - val_loss: 0.3265 - val_accuracy: 0.8646
Epoch 22/50
8846/8846 [==============================] - 15s 2ms/step - loss: 0.3266 - accuracy: 0.8630 - val_loss: 0.3266 - val_accuracy: 0.8645
Epoch 23/50
8846/8846 [==============================] - 15s 2ms/step - loss: 0.3264 - accuracy: 0.8636 - val_loss: 0.3264 - val_accuracy: 0.8644
Epoch 24/50
8846/8846 [==============================] - 15s 2ms/step - loss: 0.3263 - accuracy: 0.8630 - val_loss: 0.3274 - val_accuracy: 0.8633
Epoch 25/50
8846/8846 [==============================] - 15s 2ms/step - loss: 0.3263 - accuracy: 0.8630 - val_loss: 0.3261 - val_accuracy: 0.8641
Epoch 26/50
8846/8846 [==============================] - 15s 2ms/step - loss: 0.3261 - accuracy: 0.8633 - val_loss: 0.3260 - val_accuracy: 0.8642
Epoch 27/50
8846/8846 [==============================] - 15s 2ms/step - loss: 0.3262 - accuracy: 0.8630 - val_loss: 0.3264 - val_accuracy: 0.8638
Epoch 28/50
8846/8846 [==============================] - 15s 2ms/step - loss: 0.3260 - accuracy: 0.8631 - val_loss: 0.3264 - val_accuracy: 0.8644
Epoch 29/50
8846/8846 [==============================] - 15s 2ms/step - loss: 0.3260 - accuracy: 0.8632 - val_loss: 0.3266 - val_accuracy: 0.8642
Epoch 30/50
8846/8846 [==============================] - 15s 2ms/step - loss: 0.3259 - accuracy: 0.8631 - val_loss: 0.3262 - val_accuracy: 0.8640
Epoch 31/50
8846/8846 [==============================] - 15s 2ms/step - loss: 0.3260 - accuracy: 0.8632 - val_loss: 0.3257 - val_accuracy: 0.8639
Epoch 32/50
8846/8846 [==============================] - 15s 2ms/step - loss: 0.3259 - accuracy: 0.8630 - val_loss: 0.3270 - val_accuracy: 0.8636
Epoch 33/50
8846/8846 [==============================] - 15s 2ms/step - loss: 0.3259 - accuracy: 0.8637 - val_loss: 0.3258 - val_accuracy: 0.8644
Epoch 34/50
8846/8846 [==============================] - 15s 2ms/step - loss: 0.3257 - accuracy: 0.8629 - val_loss: 0.3263 - val_accuracy: 0.8640
Epoch 35/50
8846/8846 [==============================] - 15s 2ms/step - loss: 0.3258 - accuracy: 0.8631 - val_loss: 0.3258 - val_accuracy: 0.8645
Epoch 36/50
8846/8846 [==============================] - 15s 2ms/step - loss: 0.3257 - accuracy: 0.8631 - val_loss: 0.3259 - val_accuracy: 0.8646
Epoch 37/50
8846/8846 [==============================] - 16s 2ms/step - loss: 0.3257 - accuracy: 0.8633 - val_loss: 0.3258 - val_accuracy: 0.8642
Epoch 38/50
8846/8846 [==============================] - 15s 2ms/step - loss: 0.3257 - accuracy: 0.8636 - val_loss: 0.3259 - val_accuracy: 0.8645
Epoch 39/50
8846/8846 [==============================] - 15s 2ms/step - loss: 0.3257 - accuracy: 0.8632 - val_loss: 0.3260 - val_accuracy: 0.8638
Epoch 40/50
8846/8846 [==============================] - 15s 2ms/step - loss: 0.3256 - accuracy: 0.8634 - val_loss: 0.3264 - val_accuracy: 0.8637
Epoch 41/50
8846/8846 [==============================] - 15s 2ms/step - loss: 0.3255 - accuracy: 0.8627 - val_loss: 0.3263 - val_accuracy: 0.8640
Epoch 42/50
8846/8846 [==============================] - 15s 2ms/step - loss: 0.3255 - accuracy: 0.8631 - val_loss: 0.3259 - val_accuracy: 0.8639
Epoch 43/50
8846/8846 [==============================] - 16s 2ms/step - loss: 0.3255 - accuracy: 0.8635 - val_loss: 0.3260 - val_accuracy: 0.8643
Epoch 44/50
8846/8846 [==============================] - 15s 2ms/step - loss: 0.3255 - accuracy: 0.8631 - val_loss: 0.3261 - val_accuracy: 0.8637
Epoch 45/50
8846/8846 [==============================] - 15s 2ms/step - loss: 0.3255 - accuracy: 0.8632 - val_loss: 0.3256 - val_accuracy: 0.8644
Epoch 46/50
8846/8846 [==============================] - 15s 2ms/step - loss: 0.3255 - accuracy: 0.8632 - val_loss: 0.3258 - val_accuracy: 0.8645
Epoch 47/50
8846/8846 [==============================] - 16s 2ms/step - loss: 0.3255 - accuracy: 0.8632 - val_loss: 0.3259 - val_accuracy: 0.8643
Epoch 48/50
8846/8846 [==============================] - 18s 2ms/step - loss: 0.3253 - accuracy: 0.8635 - val_loss: 0.3261 - val_accuracy: 0.8640
Epoch 49/50
8846/8846 [==============================] - 16s 2ms/step - loss: 0.3254 - accuracy: 0.8632 - val_loss: 0.3257 - val_accuracy: 0.8641
Epoch 50/50
8846/8846 [==============================] - 17s 2ms/step - loss: 0.3252 - accuracy: 0.8633 - val_loss: 0.3260 - val_accuracy: 0.8640

In [12]:
from sklearn.metrics import accuracy_score
y_pred = layer.predict(x_test)
y_pred = (y_pred > 0.5)
accuracy = accuracy_score(y_test, y_pred)
print(accuracy)

ValueError: Failed to find data adapter that can handle input: <class 'sklearn.preprocessing._data.StandardScaler'>, <class 'NoneType'>